extends layout

block content
  script.
    $(document).ready(function(){
      $('#btn_create_room').click(function(){
          location.href='/create_chatroom';
        });
      $('#lb_goto_admin').click(function(){
          location.href='/admin_login'
        });
      });



  h1 Chatting Web Page
  p Talk with people!
  hr
  //- input(id='name')
  //- input(id='message')
  //- button Send
  //- ul(id='content')
  p 현재 접속인원 :
  p(id='lb_conn_cnt')
  br
  button(id='btn_create_room') 방만들기

  p(id='lb_goto_admin') 관리자세요?
