doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='/socket.io/socket.io.js')
    script.
      $(document).ready(function(){
        var socket = io.connect();
        /*socket.on('chatmsg',function(data){
          var output = '';
          output += '<li>';
          output += ' <h3>' + data.name + '</h3>'
          output += ' <p>' + data.message + '</p>'
          output += ' <p>' + data.date + '</p>'
          output += '</li>';

          $(output).prependTo('#content');
        });*/
        /*$('button').click(function(){
          socket.emit('chatmsg', {
            name: $('#name').val(),
            message: $('#message').val(),
            date: new Date().toUTCString()
          });
        });*/
        socket.on('conn_cnt',function(data){
            var connectedCnt = data.conn_count;
            $('#lb_conn_cnt').text(connectedCnt);
          });

      });

  body
    block content
